.ProseMirror {  
    code {
      @apply richtext-caret-white richtext-text-white richtext-bg-neutral-900 richtext-rounded-sm richtext-shadow-lg richtext-font-mono;
  
      &::selection {
        @apply richtext-bg-white/30;
      }
    }
  
    /* List */
    ol {
      @apply richtext-list-decimal;
    }
  
    ul {
      @apply richtext-list-disc;
    }
  
    ul,
    ol {
      @apply richtext-py-0 richtext-px-8 richtext-my-6 first:richtext-mt-0 last:richtext-mb-0;
  
      ul,
      ol,
      li {
        @apply richtext-my-1;
      }
  
      p {
        @apply richtext-mt-0 richtext-mb-1;
      }
    }
  
    & > ul,
    & > ol {
      @apply richtext-my-8 first:richtext-mt-0 last:richtext-mb-0;
    }
  
    ul[data-type='taskList'] {
      @apply richtext-list-none richtext-p-0;
  
      p {
        @apply richtext-m-0;
      }
  
      li {
        @apply richtext-flex;
  
        > label {
          @apply richtext-grow-0 richtext-shrink-0 richtext-flex-auto richtext-inline richtext-mr-2 richtext-select-none;
        }
  
        > div {
          @apply richtext-flex-auto;
        }
  
        &[data-checked='true'] {
          @apply richtext-line-through;
        }
      }
    }
  
    table {
      border: 1px solid;
      @apply richtext-border-collapse richtext-border-black/10 richtext-table-fixed richtext-box-border richtext-overflow-x-auto richtext-overflow-y-hidden richtext-block;
      @apply dark:richtext-border-white/20;
  
      td,
      th {
      border: 1px solid;
        @apply richtext-border;
        @apply richtext-border-black/10 richtext-min-w-[1em] richtext-p-2 richtext-box-border richtext-relative richtext-text-left richtext-align-top;
        @apply dark:richtext-border-white/20;

        &:first-of-type:not(a) {
          @apply richtext-mt-0;
        }
  
        p {
          @apply richtext-m-0;
  
          & + p {
            @apply richtext-mt-3;
          }
        }
      }
  
      th {
        @apply richtext-font-bold richtext-text-left;
      }
    }
  }
  
  .ProseMirror {
    .search-result {
      background: #c4eed0;
    }
  
    .search-result-current {
      background: #6cd58b;
    }
  }
  
  