
.ProseMirror:focus-visible {
  outline: none; 
  box-shadow: none; 
  border-color: transparent; 
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; 
    }
  
  .toolbar {
    margin-bottom: 20px;
    padding: 15px; 
    border-radius: 8px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .toolbar .ant-btn , .toolbar .ant-select {
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  
  .editor-container {
    width: 100%;
    max-width: 800px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #ffffff; 
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .text-area {
    min-height: 400px; 
    padding: 15px; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #333; 
  }
